<template>
    <b-container>
    <b-row>
        <b-col>
            <H4>{{advertiser.name}}</H4>
        </b-col>
    </b-row>
    <b-card no-body>
        <b-tabs card>
            <b-tab title="Info" active>
                <b-form @submit="onSubmit">
                    <b-form-row id="advertiserHeader">
                        <b-col cols="12">
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="6">
                        <b-input-group
                                id="txtNameGroup"
                                label="Company Name:"
                                label-for="txtName"
                                label-cols
                                label-align="left"
                                description="" prepend="Company Name:">
                                <b-form-input
                                    id="txtName"
                                    v-model="advertiser.name"
                                    type="text"
                                    required
                                    placeholder="Company or Organization Name">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="6">
                            <b-input-group
                                id="txtAliasGroup"
                                label="Company Alias:"
                                label-for="txtAlias"
                                label-cols
                                label-align="left"
                                description="" prepend="Alias:">
                                <b-form-input
                                    id="txtAlias"
                                    v-model="advertiser.nameAlias"
                                    type="text"
                                    required
                                    placeholder="Alias or Nickname">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="12" class="d-flex" >
                            <b-input-group class="flex-fill"
                                id="txtDescriptionGroup"
                                label="Description:"
                                label-for="txtDescription"
                                label-cols
                                label-align="left"
                                description="" prepend="Description">
                            
                            <b-form-textarea 
                            id="txtDescription"
                            v-model="advertiser.description"
                            placeholder="company description..."
                            rows="3"
                            max-rows="6">
                            </b-form-textarea>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="6">
                            <b-input-group
                                id="txtAddress1Group"
                                label="Address 1:"
                                label-for="txtAddress1"
                                label-cols
                                label-align="left"
                                description="" prepend="Address 1:">
                                <b-form-input
                                    id="txtAddress1"
                                    v-model="advertiser.streetAddress1"
                                    type="text"
                                    required
                                    placeholder="">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="6">
                            <b-input-group
                                id="txtAddress2Group"
                                label="Address 2:"
                                label-for="txtAddress2"
                                label-cols
                                label-align="left"
                                description="" prepend="Address 2:">
                                <b-form-input
                                    id="txtAddress2"
                                    v-model="advertiser.streetAddress2"
                                    type="text"
                                    placeholder="">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="6">
                            <b-input-group
                                id="txtCity"
                                label="City:"
                                label-for="txtCity"
                                label-cols
                                label-align="left"
                                description="" prepend="City:">
                                <b-form-input
                                    id="txtCity"
                                    v-model="advertiser.city"
                                    type="text"
                                    required
                                    placeholder="">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="6">
                            <b-input-group
                                id="txtState"
                                label="State:"
                                label-for="txtState"
                                label-cols
                                label-align="left"
                                description="" prepend="State:">
                                <b-form-select
                                    id="ddlState"
                                    v-model="advertiser.state">
                                    <b-form-select-option :value="null">Please select a state</b-form-select-option>
                                    <b-form-select-option value="AL">AL</b-form-select-option>
                                    <b-form-select-option value="AK">AK</b-form-select-option>
                                    <b-form-select-option value="AZ">AZ</b-form-select-option>
                                    <b-form-select-option value="AR">AR</b-form-select-option>
                                    <b-form-select-option value="CA">CA</b-form-select-option>
                                    <b-form-select-option value="CO">CO</b-form-select-option>
                                    <b-form-select-option value="CT">CT</b-form-select-option>
                                    <b-form-select-option value="DE">DE</b-form-select-option>
                                    <b-form-select-option value="FL">FL</b-form-select-option>
                                    <b-form-select-option value="GA">GA</b-form-select-option>
                                    <b-form-select-option value="HI">HI</b-form-select-option>
                                    <b-form-select-option value="ID">ID</b-form-select-option>
                                    <b-form-select-option value="IL">IL</b-form-select-option>
                                    <b-form-select-option value="IN">IN</b-form-select-option>
                                    <b-form-select-option value="IA">IA</b-form-select-option>
                                    <b-form-select-option value="KS">KS</b-form-select-option>
                                    <b-form-select-option value="KY">KY</b-form-select-option>
                                    <b-form-select-option value="LA">LA</b-form-select-option>
                                    <b-form-select-option value="ME">ME</b-form-select-option>
                                    <b-form-select-option value="MD">MD</b-form-select-option>
                                    <b-form-select-option value="MA">MA</b-form-select-option>
                                    <b-form-select-option value="MI">MI</b-form-select-option>
                                    <b-form-select-option value="MN">MN</b-form-select-option>
                                    <b-form-select-option value="MS">MS</b-form-select-option>
                                    <b-form-select-option value="MO">MO</b-form-select-option>
                                    <b-form-select-option value="MT">MT</b-form-select-option>
                                    <b-form-select-option value="NE">NE</b-form-select-option>
                                    <b-form-select-option value="NV">NV</b-form-select-option>
                                    <b-form-select-option value="NH">NH</b-form-select-option>
                                    <b-form-select-option value="NJ">NJ</b-form-select-option>
                                    <b-form-select-option value="NM">NM</b-form-select-option>
                                    <b-form-select-option value="NY">NY</b-form-select-option>
                                    <b-form-select-option value="NC">NC</b-form-select-option>
                                    <b-form-select-option value="ND">ND</b-form-select-option>
                                    <b-form-select-option value="OH">OH</b-form-select-option>
                                    <b-form-select-option value="OK">OK</b-form-select-option>
                                    <b-form-select-option value="OR">OR</b-form-select-option>
                                    <b-form-select-option value="PA">PA</b-form-select-option>
                                    <b-form-select-option value="RI">RI</b-form-select-option>
                                    <b-form-select-option value="SC">SC</b-form-select-option>
                                    <b-form-select-option value="SD">SD</b-form-select-option>
                                    <b-form-select-option value="TN">TN</b-form-select-option>
                                    <b-form-select-option value="TX">TX</b-form-select-option>
                                    <b-form-select-option value="UT">UT</b-form-select-option>
                                    <b-form-select-option value="VT">VT</b-form-select-option>
                                    <b-form-select-option value="VA">VA</b-form-select-option>
                                    <b-form-select-option value="WA">WA</b-form-select-option>
                                    <b-form-select-option value="WV">WV</b-form-select-option>
                                    <b-form-select-option value="WI">WI</b-form-select-option>
                                    <b-form-select-option value="WY">WY</b-form-select-option>
                                </b-form-select>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="6">
                        <b-input-group
                                id="txtPostalCodeGroup"
                                label="Postal Code:"
                                label-for="txtPostalCode"
                                label-cols
                                label-align="left"
                                description="" prepend="Postal Code:">
                                <b-form-input
                                    id="txtPostalCode"
                                    v-model="advertiser.postalCode"
                                    type="text"
                                    required
                                    placeholder="Zipcode...">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="6">
                            <b-input-group
                                id="txtIsEnabledGroup"
                                label="Enabled:"
                                label-for="cbIsEnabled"
                                label-cols
                                label-align="left"
                                description="" prepend="Is Enabled:">
                                <b-form-checkbox
                                    id="cbIsEnabled"
                                    v-model="advertiser.isEnabled"
                                    switch size="lg">
                                </b-form-checkbox>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="6">
                        <b-input-group
                                id="txtCreatedBy"
                                label="Created By:"
                                label-for="txtCreatedBy"
                                label-cols
                                label-align="left"
                                description="" prepend="Created By:">
                                <b-form-input readonly
                                    id="txtCreatedBy"
                                    v-model="advertiser.createdByName"
                                    type="text">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="6">
                            <b-input-group
                                id="txtCreatedDate"
                                label="Created Date:"
                                label-for="txtCreatedDate"
                                label-cols
                                label-align="left"
                                description="" prepend="Created Date:">
                                <b-form-input readonly
                                    id="txtCreatedDate"
                                    type="text"
                                    v-bind:value="advertiser.createdDate | formatDate">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="6">
                        <b-input-group
                                id="txtModifiedBy"
                                label="Modified By:"
                                label-for="txtModifiedBy"
                                label-cols
                                label-align="left"
                                description="" prepend="Modified By:">
                                <b-form-input readonly
                                    id="txtModifiedBy"
                                    v-model="advertiser.modifiedByName"
                                    type="text">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="6">
                            <b-input-group
                                id="txtModifiedDate"
                                label="Modified Date:"
                                label-for="txtModifiedDate"
                                label-cols
                                label-align="left"
                                description="" prepend="Modified Date:">
                                <b-form-input readonly
                                    id="txtModifiedDate"
                                    v-bind:value="advertiser.modifiedDate | formatDate"
                                    type="text">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row>
                        <b-col cols="10"></b-col>
                        <b-col cols="2" class="d-flex justify-content-end">
                            <b-button type="submit" variant="primary" right>Save</b-button>
                        </b-col>
                    </b-form-row>
                </b-form>
            </b-tab>
            <b-tab title="Media">
                <b-card header="Logo">
                <b-row>
                    <b-col cols="4">
                        <b-img v-bind:src="imagePreview" 
                               rounded alt="Selected Image" 
                               height="200" 
                               width="200" 
                               thumbnail 
                               @error="logoSrcError"></b-img>
                    </b-col>
                    <b-col cols="8">
                
                <b-form-row class="formrow">
                    <b-col cols="12">
                        <b-form-file
                            v-model="logoFile"
                            :state="Boolean(logoFile)"
                            placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..."
                            accept=".jpg, .png, .gif"
                            @change="logoFileChanged"
                        ></b-form-file>  
                    </b-col>          
                </b-form-row>
                <b-form-row class="formrow">
                    <b-col cols="12" class="d-flex justify-content-end">
                        <b-button @click="setLogo" variant="primary" right>Upload</b-button>
                    </b-col>
                </b-form-row>
                    </b-col>
                </b-row>
                </b-card>
            </b-tab>
            <b-tab title="Campaigns">
                <campaign-list v-bind:advertiserUniqID="id" v-bind:advertiserName="advertiser.name"></campaign-list>
            </b-tab>
            <b-tab title="Billing">
            </b-tab>
            <b-tab title="Users">
            </b-tab>
            <b-tab title="History">
            </b-tab>
        </b-tabs>
    </b-card>
    </b-container>
</template>

<script>

import { mapActions } from 'vuex'
import CampaignList from '../components/CampaignList.vue';


export default {
  components: { CampaignList },
    name: "advertiser",
    props: {
     id: { 
      required: true
     }
    },
    data() {
      return {
        logoFile: null,
        imagePreview: '',
        imageNotSelected: true,
        imageError: false
      }
    },
    computed: {
      advertiser() {
          return this.$store.getters.currentAdvertiser;
      },
      logoUrl() {
          return (this.id != 'new') ? `${this.$store.getters.appSettings_MediaRootUrl}/${this.advertiser.uniqID}.logo.Medium.jpg?${new Date().getTime()}` : this.defaultLogoUrl;
      },
      defaultLogoUrl() {
          return this.$store.getters.appSettings_DefaultLogoUrl;
      }
    },
    methods: {
        ...mapActions(['saveAdvertiser', 'getAdvertiser', 'uploadLogo']),
        onSubmit(evt) {
            evt.preventDefault();
            this.saveAdvertiser(this.advertiser);
            
        },
        logoFileChanged(event) {
        
            let reader  = new FileReader();

            reader.addEventListener("load", function () {
                this.imagePreview = reader.result;
                this.imageNotSelected = false;
            }.bind(this), false);

    
            if( event.target.files && event.target.files[0] ){
      
                if ( /\.(jpe?g|png|gif)$/i.test( event.target.files[0].name ) ) {
                    reader.readAsDataURL( event.target.files[0] );
                }
            }
            else {
                this.imageNotSelected = true;
            }
        },
        setLogo() {
            var imgPayload = {};
            imgPayload.uniqID = this.id;
            imgPayload.logoFile = this.logoFile;
            this.uploadLogo(imgPayload);
        },
        logoSrcError() {
            this.imagePreview = this.defaultLogoUrl;
        }
    },
    created() {
        if (this.id != 'new') {
            this.getAdvertiser(this.id);
            this.imagePreview = this.logoUrl;
        }
        
     }
}
</script>

<style scoped>

.formrow {
    margin-bottom:10px;
}

.input-group>.input-group-prepend {
    width:150px;
}
.input-group .input-group-text {
    width: 100%;
}

.custom-switch {
    margin-left:20px!important;
}

</style>