<template>
    <b-container>
    <b-row>
        <b-col>
            <H4>Register New Advertiser</H4>
        </b-col>
    </b-row>
    <b-card no-body>
        <b-tabs card>
            <b-tab title="Registration Info" active>
                <b-form @submit="onSubmit">
                    <b-form-row id="advertiserHeader">
                        <b-col cols="10">
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="5">
                        <b-input-group
                                id="txtNameGroup"
                                label="Company Name:"
                                label-for="txtName"
                                label-cols
                                label-align="left"
                                description="" prepend="Company Name:">
                                <b-form-input
                                    id="txtName"
                                    v-model="registration.companyName"
                                    type="text"
                                    required
                                    placeholder="Company or Organization Name">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="5">
                            <b-input-group
                                id="txtAliasGroup"
                                label="Company Alias:"
                                label-for="txtAlias"
                                label-cols
                                label-align="left"
                                description="" prepend="Alias:">
                                <b-form-input
                                    id="txtAlias"
                                    v-model="registration.nameAlias"
                                    type="text"
                                    required
                                    placeholder="Alias or Nickname">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="10" class="d-flex" >
                            <b-input-group class="flex-fill"
                                id="txtDescriptionGroup"
                                label="Description:"
                                label-for="txtDescription"
                                label-cols
                                label-align="left"
                                description="" prepend="Description:">
                            
                            <b-form-textarea 
                            id="txtDescription"
                            v-model="registration.description"
                            placeholder="company description..."
                            rows="3"
                            max-rows="6">
                            </b-form-textarea>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="5">
                            <b-input-group
                                id="txtAddress1Group"
                                label="Address 1:"
                                label-for="txtAddress1"
                                label-cols
                                label-align="left"
                                description="" prepend="Address 1:">
                                <b-form-input
                                    id="txtAddress1"
                                    v-model="registration.streetAddress1"
                                    type="text"
                                    required
                                    placeholder="">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="5">
                            <b-input-group
                                id="txtAddress2Group"
                                label="Address 2:"
                                label-for="txtAddress2"
                                label-cols
                                label-align="left"
                                description="" prepend="Address 2:">
                                <b-form-input
                                    id="txtAddress2"
                                    v-model="registration.streetAddress2"
                                    type="text"
                                    placeholder="">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="5">
                            <b-input-group
                                id="txtCity"
                                label="City:"
                                label-for="txtCity"
                                label-cols
                                label-align="left"
                                description="" prepend="City:">
                                <b-form-input
                                    id="txtCity"
                                    v-model="registration.city"
                                    type="text"
                                    required
                                    placeholder="">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="5">
                            <b-input-group
                                id="txtState"
                                label="State:"
                                label-for="txtState"
                                label-cols
                                label-align="left"
                                description="" prepend="State:">
                                <b-form-select
                                    id="ddlState"
                                    v-model="registration.state">
                                    <b-form-select-option :value="null">Please select a state</b-form-select-option>
                                    <b-form-select-option value="AL">AL</b-form-select-option>
                                    <b-form-select-option value="AK">AK</b-form-select-option>
                                    <b-form-select-option value="AZ">AZ</b-form-select-option>
                                    <b-form-select-option value="AR">AR</b-form-select-option>
                                    <b-form-select-option value="CA">CA</b-form-select-option>
                                    <b-form-select-option value="CO">CO</b-form-select-option>
                                    <b-form-select-option value="CT">CT</b-form-select-option>
                                    <b-form-select-option value="DE">DE</b-form-select-option>
                                    <b-form-select-option value="FL">FL</b-form-select-option>
                                    <b-form-select-option value="GA">GA</b-form-select-option>
                                    <b-form-select-option value="HI">HI</b-form-select-option>
                                    <b-form-select-option value="ID">ID</b-form-select-option>
                                    <b-form-select-option value="IL">IL</b-form-select-option>
                                    <b-form-select-option value="IN">IN</b-form-select-option>
                                    <b-form-select-option value="IA">IA</b-form-select-option>
                                    <b-form-select-option value="KS">KS</b-form-select-option>
                                    <b-form-select-option value="KY">KY</b-form-select-option>
                                    <b-form-select-option value="LA">LA</b-form-select-option>
                                    <b-form-select-option value="ME">ME</b-form-select-option>
                                    <b-form-select-option value="MD">MD</b-form-select-option>
                                    <b-form-select-option value="MA">MA</b-form-select-option>
                                    <b-form-select-option value="MI">MI</b-form-select-option>
                                    <b-form-select-option value="MN">MN</b-form-select-option>
                                    <b-form-select-option value="MS">MS</b-form-select-option>
                                    <b-form-select-option value="MO">MO</b-form-select-option>
                                    <b-form-select-option value="MT">MT</b-form-select-option>
                                    <b-form-select-option value="NE">NE</b-form-select-option>
                                    <b-form-select-option value="NV">NV</b-form-select-option>
                                    <b-form-select-option value="NH">NH</b-form-select-option>
                                    <b-form-select-option value="NJ">NJ</b-form-select-option>
                                    <b-form-select-option value="NM">NM</b-form-select-option>
                                    <b-form-select-option value="NY">NY</b-form-select-option>
                                    <b-form-select-option value="NC">NC</b-form-select-option>
                                    <b-form-select-option value="ND">ND</b-form-select-option>
                                    <b-form-select-option value="OH">OH</b-form-select-option>
                                    <b-form-select-option value="OK">OK</b-form-select-option>
                                    <b-form-select-option value="OR">OR</b-form-select-option>
                                    <b-form-select-option value="PA">PA</b-form-select-option>
                                    <b-form-select-option value="RI">RI</b-form-select-option>
                                    <b-form-select-option value="SC">SC</b-form-select-option>
                                    <b-form-select-option value="SD">SD</b-form-select-option>
                                    <b-form-select-option value="TN">TN</b-form-select-option>
                                    <b-form-select-option value="TX">TX</b-form-select-option>
                                    <b-form-select-option value="UT">UT</b-form-select-option>
                                    <b-form-select-option value="VT">VT</b-form-select-option>
                                    <b-form-select-option value="VA">VA</b-form-select-option>
                                    <b-form-select-option value="WA">WA</b-form-select-option>
                                    <b-form-select-option value="WV">WV</b-form-select-option>
                                    <b-form-select-option value="WI">WI</b-form-select-option>
                                    <b-form-select-option value="WY">WY</b-form-select-option>
                                </b-form-select>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row>
                        <b-col cols="5">
                        <b-input-group
                                id="txtPostalCodeGroup"
                                label="Postal Code:"
                                label-for="txtPostalCode"
                                label-cols
                                label-align="left"
                                description="" prepend="Postal Code:">
                                <b-form-input
                                    id="txtPostalCode"
                                    v-model="registration.postalCode"
                                    type="text"
                                    required
                                    placeholder="Zipcode...">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row>
                        <b-col cols="10">
                            <hr />
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="5">
                        <b-input-group
                                id="txtEmail"
                                label="Email:"
                                label-for="txtEmail"
                                label-cols
                                label-align="left"
                                description="">
                                <b-input-group-prepend is-text class="w-200">
                                    <b-icon icon="envelope"></b-icon>
                                </b-input-group-prepend>
                                <b-form-input
                                    id="txtEmail"
                                    v-model="registration.email"
                                    type="text">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="5">
                        <b-input-group
                                id="txtPhone"
                                label="Phone:"
                                label-for="txtPhone"
                                label-cols
                                label-align="left"
                                description="">
                                <b-input-group-prepend is-text>
                                    <b-icon icon="telephone"></b-icon>
                                </b-input-group-prepend>
                                <b-form-input
                                    id="txtPhone"
                                    v-model="registration.phone"
                                    type="text">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="5">
                        <b-input-group
                                id="txtFirstName"
                                label="First Name:"
                                label-for="txtFirstName"
                                label-cols
                                label-align="left"
                                description="" prepend="First Name:">
                                <b-form-input
                                    id="txtFirstName"
                                    v-model="registration.firstName"
                                    type="text">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="5">
                            <b-input-group
                                id="txtLastName"
                                label="Last Name:"
                                label-for="txtLastName"
                                label-cols
                                label-align="left"
                                description="" prepend="Last Name:">
                                <b-form-input
                                    id="txtLastName"
                                    type="text"
                                    v-model="registration.lastName">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row class="formrow">
                        <b-col cols="5">
                        <b-input-group
                                id="txtPassword"
                                label="Password:"
                                label-for="txtPassword"
                                label-cols
                                label-align="left"
                                description="" prepend="Password:">
                                <b-form-input
                                    id="txtPassword"
                                    v-model="registration.password"
                                    type="text">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                        <b-col cols="5">
                            <b-input-group
                                id="txtPasswordVerify"
                                label="PasswordVerify:"
                                label-for="txtPasswordVerify"
                                label-cols
                                label-align="left"
                                description="" prepend="Password (verify):">
                                <b-form-input
                                    id="txtPasswordVerify"
                                    v-bind:value="registration.passwordVerify"
                                    type="text">
                                </b-form-input>
                            </b-input-group>
                        </b-col>
                    </b-form-row>
                    <b-form-row>
                        <b-col cols="9"></b-col>
                        <b-col class="d-flex justify-content-end">
                            <b-button type="submit" variant="primary" right>Register</b-button>
                        </b-col>
                    </b-form-row>
                </b-form>
            </b-tab>
        </b-tabs>
    </b-card>
    </b-container>
</template>

<script>

import { mapActions } from 'vuex'
import advertiserRegistrationModel  from '../models/advertiserRegistrationModel.js'

export default {
    name: "advertiserRegister",
    data() {
        return {
            registration: new advertiserRegistrationModel()
        }
    },
    computed: {
    },
    methods: {
        ...mapActions(['registerAdvertiser']),
        onSubmit(evt) {
            evt.preventDefault();
            this.registerAdvertiser(this.registration);
            
        }
    }
}
</script>

<style scoped>

.formrow {
    margin-bottom:10px;
}

.input-group>.input-group-prepend {
    /*flex: 0 0 10%;*/
    width:150px;
}
.input-group .input-group-text {
    width: 100%;
}
</style>