<template>
  <b-container>
    <b-row align-v="center">
      <b-col cols="10">
        <b-form>
          <b-input-group class="mt-3">
            <b-form-input
              v-model="searchText"
              placeholder="search by Advertiser Name and/or Alias"
            ></b-form-input>
            <b-input-group-append>
              <b-button @click="search" variant="info">Search</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form>
      </b-col>
      <b-col cols="2">
        <b-button class="mt-3" @click="newAdvertiser" right variant="info"
          >New Advertiser</b-button
        >
      </b-col>
    </b-row>
    <b-row>
      <b-col><p></p></b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <b-table
          striped
          hover
          bordered
          small
          :items="searchResult"
          :fields="fields"
          @row-clicked="(item, index, event) => rowClick(item, index, event)"
        >
          <template #cell(uniqID)="data">
            <b-img
              rounded
              thumbnail
              v-bind="advertiserImageProperties"
              :src="`${cdnBaseUrl}/${data.value}.logo.Thumb.jpg?t=${new Date().getTime()}`"
              @error="setDefaultLogo"
            ></b-img>
          </template>
          <template #cell(isEnabled)="data">
            <b-form-checkbox
              v-bind:checked="data.value"
              name="check-button2"
              switch
              disabled
            >
            </b-form-checkbox>
          </template>
        </b-table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import advertiserRegistrationModel from "../models/advertiserRegistrationModel";

export default {
  name: "advertisers",
  data() {
    return {
      searchText: "",
      advertiserImageProperties: { width: 35, height: 35 },
      fields: [
        {
          key: "uniqID",
          label: "",
          sortable: false,
        },
        {
          key: "name",
          label: "Advertiser Name",
          sortable: true,
        },
        {
          key: "nameAlias",
          label: "Alias",
          sortable: false,
        },
        {
          key: "city",
          label: "City",
          sortable: false,
        },
        {
          key: "state",
          label: "State",
          sortable: false,
        },
        {
          key: "isEnabled",
          label: "Enabled",
          sortable: false,
        },
      ],
    };
  },
  computed: {
    searchResult() {
      return this.$store.getters.advertiserSearchResult;
    },
    cdnBaseUrl() {
      return this.$store.getters.appSettings_MediaRootUrl;
    },
    defaultLogoUrl() {
      return this.$store.getters.appSettings_DefaultLogoUrl;
    },
  },
  methods: {
    ...mapActions(["advertiserSearch", "setCurrentAdvertiser", "clearAdvertiserSearch"]),
    search() {
      this.advertiserSearch(this.searchText);
    },
    newAdvertiser() {
      this.$router.push({ path: "/advertiser/new" });
    },
    rowClick(item, index, event) {
      this.setCurrentAdvertiser(item);
      this.$router.push({ path: `/advertiser/${item.uniqID}` });
    },
    setDefaultLogo(e) {
      e.target.src = this.defaultLogoUrl;
    },
  },
    created() {
     this.clearAdvertiserSearch();
  }

};
</script>

<style scoped>
</style>