<template>
    <b-container>
        <b-modal ref="edit-setting" hide-footer title="Edit Application Setting">
            <b-container>
                <b-row>
                 <b-col cols="3">
                        <label for="selectedValue">{{selectedSetting.name}}</label>
                  </b-col>
                  <b-col cols="9">
                        <b-form-input id="selectedValue" v-model="selectedSetting.value" placeholder="setting value"></b-form-input>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="6"></b-col>
                  <b-col cols="3">
                    <b-button class="mt-3" block @click="cancelSetting">Cancel</b-button>
                  </b-col>
                  <b-col cols="3">
                    <b-button class="mt-3" variant="primary" block @click="saveSetting">Save</b-button>
                  </b-col>
                </b-row>
            </b-container>
        </b-modal>
        <b-row>
           <b-col>
              <b-table striped hover bordered small :items="appSettings" :fields="fields" >
                <template #cell(editSetting)="row">
                    <b-button size="sm" @click="editSetting(row.item, row.index, $event.target)" class="mr-1">
                        Edit
                    </b-button>
                </template> 
              </b-table>
            </b-col>
      </b-row>
    </b-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: "appSettings",
    data() {
      return {
        selectedSetting: {},
        fields: [
          {
            key: 'name',
            label: 'Name',
            sortable: true
          },
          {
            key: 'value',
            label: 'Value',
            sortable: false
          },
          {
            key: 'modifiedByName',
            label: 'Modified By',
            sortable: false
          },
          {
            key: 'modifiedDate',
            label: 'Modified Date',
            sortable: false
          },
          {
              key: 'editSetting',
              label: '',
              sortable: false
          }


        ]
      }
   },
   computed: {
      appSettings() {
           return this.$store.getters.appSettings;
      }     
   },
   methods: {
      ...mapActions(['getAppSettings', 'saveAppSetting']),
      
      editSetting(item, index, event) {
        this.selectedSetting = Object.assign({}, item);
        this.$refs['edit-setting'].show();

      },
      saveSetting() {
         this.saveAppSetting(this.selectedSetting);
         this.selectedSetting = {};
         this.$refs['edit-setting'].hide();
      },
      cancelSetting() {
        this.selectedSetting = {};
         this.$refs['edit-setting'].hide();
      }

   },
   created() {
        this.getAppSettings();
     }
}
</script>

<style scoped>

</style>