<template>
  <b-container>
    <b-row>
      <b-col cols="12">
        <H4>{{ campaign.advertiserName }} - {{ campaign.campaignName }}</H4>
      </b-col>
    </b-row>
    <b-card no-body>
      <b-tabs card>
        <b-tab title="Info" active>
          <b-form @submit="onSubmit">
            <b-form-row id="campaignHeader">
              <b-col cols="12"> </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtNameGroup"
                  label="Campaign Name:"
                  label-for="txtCampaignName"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Campaign Name:"
                >
                  <b-form-input
                    id="txtCampaignName"
                    v-model="campaign.campaignName"
                    type="text"
                    required
                    placeholder="Campaign Name"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtAdvertiserName"
                  label="AdvertiserName:"
                  label-for="txtAdvertiserName"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Advertiser Name:"
                >
                  <b-form-input
                    readonly
                    id="txtAdvertiserName"
                    v-model="campaign.advertiserName"
                    type="text"
                    required
                    placeholder=""
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtProductNameGroup"
                  label="Product Name:"
                  label-for="txtProductName"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Product Name:"
                >
                  <b-form-input
                    id="txtProductName"
                    v-model="campaign.productName"
                    type="text"
                    required
                    placeholder="Product Name"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtProductUrl"
                  label="ProductUrl:"
                  label-for="txtProductUrl"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Product Url:"
                >
                  <b-form-input
                    id="txtProductUrl"
                    v-model="campaign.productUrl"
                    type="text"
                    required
                    placeholder=""
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="12" class="d-flex">
                <b-input-group
                  class="flex-fill"
                  id="txtProductDescriptionGroup"
                  label="ProductDescription:"
                  label-for="txtProductDescription"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Product Description:"
                >
                  <b-form-textarea
                    id="txtProductDescription"
                    v-model="campaign.productDescription"
                    placeholder="product description..."
                    rows="3"
                    max-rows="6"
                  >
                  </b-form-textarea>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtStartDate"
                  label="Start Date:"
                  label-for="txtStartDate"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Start Date:"
                >
                  <b-form-datepicker
                    id="txtStartDate"
                    v-model="campaign.startDate"
                    :date-format-options="{
                      year: 'numeric',
                      month: 'numeric',
                      day: 'numeric',
                    }"
                    locale="en"
                  ></b-form-datepicker>
                  <!-- <b-form-input
                                    id="txtStartDate"
                                    v-model="campaign.startDate"
                                    type="date"
                                    required
                                    placeholder=""
                                    :formatter="dateFormatter">
                                </b-form-input> -->
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtEndDate"
                  label="End Date:"
                  label-for="txtEndDate"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="End Date:"
                >
                  <b-form-datepicker
                    id="txtEndDate"
                    v-model="campaign.endDate"
                    :date-format-options="{
                      year: 'numeric',
                      month: 'numeric',
                      day: 'numeric',
                    }"
                    locale="en"
                  ></b-form-datepicker>
                  <!-- <b-form-input
                                    id="txtEndDate"
                                    v-model="campaign.endDate"
                                    type="date"
                                    placeholder=""
                                    :formatter="dateFormatter">
                                </b-form-input> -->
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6"> </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtIsEnabledGroup"
                  label="Enabled:"
                  label-for="cbIsEnabled"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Is Enabled:"
                >
                  <b-form-checkbox
                    id="cbIsEnabled"
                    v-model="campaign.isEnabled"
                    switch
                    size="lg"
                  >
                  </b-form-checkbox>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtCreatedBy"
                  label="Created By:"
                  label-for="txtCreatedBy"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Created By:"
                >
                  <b-form-input
                    readonly
                    id="txtCreatedBy"
                    v-model="campaign.createdByName"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtCreatedDate"
                  label="Created Date:"
                  label-for="txtCreatedDate"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Created Date:"
                >
                  <b-form-input
                    readonly
                    id="txtCreatedDate"
                    type="text"
                    v-bind:value="campaign.createdDate | formatDate"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtModifiedBy"
                  label="Modified By:"
                  label-for="txtModifiedBy"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Modified By:"
                >
                  <b-form-input
                    readonly
                    id="txtModifiedBy"
                    v-model="campaign.modifiedByName"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtModifiedDate"
                  label="Modified Date:"
                  label-for="txtModifiedDate"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Modified Date:"
                >
                  <b-form-input
                    readonly
                    id="txtModifiedDate"
                    v-bind:value="campaign.modifiedDate | formatDate"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="11"></b-col>
              <b-col class="d-flex justify-content-end">
                <b-button type="submit" variant="primary" right>Save</b-button>
              </b-col>
            </b-form-row>
          </b-form>
        </b-tab>
        <b-tab title="Media">
          <b-card header="Image 1">
            <b-row>
              <b-col cols="4">
                <b-img
                  v-bind:src="campaignImage1Preview"
                  rounded
                  alt="Selected Image"
                  height="200"
                  width="200"
                  thumbnail
                  @error="campaignImage1SrcError"
                ></b-img>
              </b-col>
              <b-col cols="8">
                <b-form-row class="formrow">
                  <b-col cols="12">
                    <b-form-file
                      v-model="campaignImage1File"
                      :state="Boolean(campaignImage1File)"
                      placeholder="Choose a file or drop it here..."
                      drop-placeholder="Drop file here..."
                      accept=".jpg, .png, .gif"
                      @change="campaignImage1FileChanged"
                    ></b-form-file>
                  </b-col>
                </b-form-row>
                <b-form-row class="formrow">
                  <b-col cols="12" class="d-flex justify-content-end">
                    <b-button @click="setCampaignImage1" variant="primary" right
                      >Upload</b-button
                    >
                  </b-col>
                </b-form-row>
              </b-col>
            </b-row>
          </b-card>
          <b-card header="Image 2">
            <b-row>
              <b-col cols="4">
                <b-img
                  v-bind:src="campaignImage2Preview"
                  rounded
                  alt="Selected Image"
                  height="200"
                  width="200"
                  thumbnail
                  @error="campaignImage2SrcError"
                ></b-img>
              </b-col>
              <b-col cols="8">
                <b-form-row class="formrow">
                  <b-col cols="12">
                    <b-form-file
                      v-model="campaignImage2File"
                      :state="Boolean(campaignImage2File)"
                      placeholder="Choose a file or drop it here..."
                      drop-placeholder="Drop file here..."
                      accept=".jpg, .png, .gif"
                      @change="campaignImage2FileChanged"
                    ></b-form-file>
                  </b-col>
                </b-form-row>
                <b-form-row class="formrow">
                  <b-col cols="12" class="d-flex justify-content-end">
                    <b-button @click="setCampaignImage2" variant="primary" right
                      >Upload</b-button
                    >
                  </b-col>
                </b-form-row>
              </b-col>
            </b-row>
          </b-card>
        </b-tab>

        <b-tab title="Influencers">
          <campaign-influencer-list
            v-bind:advertiserUniqID="campaign.advertiserUniqID"
            v-bind:advertiserName="campaign.advertiserName"
            v-bind:campaignUniqID="id"
            v-bind:campaignName="campaign.campaignName"
          >
          </campaign-influencer-list>
        </b-tab>
        <b-tab title="Billing"> </b-tab>
        <b-tab title="History"> </b-tab>
      </b-tabs>
    </b-card>
  </b-container>
</template>

<script>
import { mapActions } from "vuex";
import moment from "moment";
import CampaignInfluencerList from "../components/CampaignInfluencerList.vue";

export default {
  components: { CampaignInfluencerList },
  name: "campaign",
  props: {
    id: {
      required: true,
    },
  },
  data() {
    return {
      campaignImage1File: null,
      campaignImage1Preview: "",
      campaignImage1NotSelected: true,
      campaignImage2File: null,
      campaignImage2Preview: "",
      campaignImage2NotSelected: true,
    };
  },
  computed: {
    campaign() {
      return this.$store.getters.currentCampaign;
    },
    campaignImage1Url() {
      return this.id != "new"
        ? `${this.$store.getters.appSettings_MediaRootUrl}/${this.campaign.uniqID}.image.1.Medium.jpg`
        : this.defaultCampaignImageUrl;
    },
    campaignImage2Url() {
      return this.id != "new"
        ? `${this.$store.getters.appSettings_MediaRootUrl}/${this.campaign.uniqID}.image.2.Medium.jpg`
        : this.defaultCampaignImageUrl;
    },
    defaultCampaignImageUrl() {
      return this.$store.getters.appSettings_DefaultCampaignUrl;
    },
  },
  methods: {
    ...mapActions([
      "addCampaign",
      "updateCampaign",
      "getCampaign",
      "uploadImage",
    ]),
    onSubmit(evt) {
      evt.preventDefault();
      if (this.id != "new") {
        this.updateCampaign(this.campaign);
      } else {
        this.addCampaign(this.campaign);
        this.id = this.campaign.uniqID;
      }
    },
    campaignImage1FileChanged(event) {
      let reader = new FileReader();

      reader.addEventListener(
        "load",
        function () {
          this.campaignImage1Preview = reader.result;
          this.campaignImage1NotSelected = false;
        }.bind(this),
        false
      );

      if (event.target.files && event.target.files[0]) {
        if (/\.(jpe?g|png|gif)$/i.test(event.target.files[0].name)) {
          reader.readAsDataURL(event.target.files[0]);
        }
      } else {
        this.campaignImage1NotSelected = true;
      }
    },
    setCampaignImage1() {
      var imgPayload = {};
      imgPayload.uniqID = this.id;
      imgPayload.imageNum = 1;
      imgPayload.imageFile = this.campaignImage1File;
      this.uploadImage(imgPayload);
    },
    campaignImage1SrcError() {
      this.campaignImage1Preview = this.defaultCampaignImageUrl;
    },
    campaignImage2FileChanged(event) {
      let reader = new FileReader();

      reader.addEventListener(
        "load",
        function () {
          this.campaignImage2Preview = reader.result;
          this.campaignImage2NotSelected = false;
        }.bind(this),
        false
      );

      if (event.target.files && event.target.files[0]) {
        if (/\.(jpe?g|png|gif)$/i.test(event.target.files[0].name)) {
          reader.readAsDataURL(event.target.files[0]);
        }
      } else {
        this.campaignImage2NotSelected = true;
      }
    },
    setCampaignImage2() {
      var imgPayload = {};
      imgPayload.uniqID = this.id;
      imgPayload.imageNum = 2;
      imgPayload.imageFile = this.campaignImage2File;
      this.uploadImage(imgPayload);
    },
    campaignImage2SrcError() {
      this.campaignImage2Preview = this.defaultCampaignImageUrl;
    },
  },
  created() {
    if (this.id != "new") {
      this.getCampaign(this.id);
      this.campaignImage1Preview = this.campaignImage1Url;
      this.campaignImage2Preview = this.campaignImage2Url;
    }
  },
};
</script>

<style scoped>
.formrow {
  margin-bottom: 10px;
}

.input-group > .input-group-prepend {
  width: 160px;
}
.input-group .input-group-text {
  width: 100%;
}

.custom-switch {
  margin-left: 20px !important;
}
</style>