<template>
  <b-container>
    <b-row>
      <b-col></b-col>
      <b-col>
        <router-link to="/advertisers">
            <b-card>
              <template #header>
                  <h4 class="mb-0">Advertisers</h4>
              </template>
              <b-card-body>
                <b-icon icon="building" variant="info" style="width: 100px; height: 100px;"></b-icon>
              </b-card-body>
            </b-card>
        </router-link>
      </b-col>
      <b-col>
        <router-link to="/influencers">
            <b-card>
              <template #header>
                  <h4 class="mb-0">Influencers</h4>
              </template>
              <b-card-body>
                <b-icon icon="people-fill" variant="primary" style="width: 100px; height: 100px;"></b-icon>
              </b-card-body>
            </b-card>
        </router-link>
      </b-col>
      <b-col>
        <router-link to="/settings">
            <b-card>
              <template #header>
                  <h4 class="mb-0">Settings</h4>
              </template>
              <b-card-body>
                <b-icon icon="gear" variant="success" style="width: 100px; height: 100px;"></b-icon>
              </b-card-body>
            </b-card>
        </router-link>
      </b-col>
      <b-col>
        <router-link to="/utilities">
            <b-card>
              <template #header>
                  <h4 class="mb-0">Utilities</h4>
              </template>
              <b-card-body>
                <b-icon icon="tools" variant="success" style="width: 100px; height: 100px;"></b-icon>
              </b-card-body>
            </b-card>
        </router-link>
      </b-col>
      <b-col>
        <router-link to="/utilities">
            <b-card>
              <template #header>
                  <h4 class="mb-0">Logs</h4>
              </template>
              <b-card-body>
                <b-icon icon="search" variant="success" style="width: 100px; height: 100px;"></b-icon>
              </b-card-body>
            </b-card>
        </router-link>
      </b-col>
      <b-col></b-col>
    </b-row>
  </b-container>
</template>

<script>
// @ is an alias to /src
import { BIcon } from 'bootstrap-vue'

export default {
  name: 'Home',
  components: {
    BIcon
    
  }
}
</script>
