<template>
  <b-container>
    <b-row>
      <b-col>
        <H4>Register New Advertiser</H4>
      </b-col>
    </b-row>
    <b-card no-body>
      <b-tabs card>
        <b-tab title="Registration Info" active>
          <b-form @submit="onSubmit">
            <b-form-row id="influencerHeader">
              <b-col cols="12"> </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtFirstName"
                  label="First Name:"
                  label-for="txtFirstName"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="First Name:"
                >
                  <b-form-input
                    id="txtFirstName"
                    v-model="registration.firstName"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtLastName"
                  label="Last Name:"
                  label-for="txtLastName"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Last Name:"
                >
                  <b-form-input
                    id="txtLastName"
                    type="text"
                    v-model="registration.lastName"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="6">
                <b-input-group
                  id="txtDateOfBirth"
                  label="Date Of Birth:"
                  label-for="txtDateOfBirth"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Date Of Birth:"
                >
                  <b-form-datepicker
                    id="txtDateOfBirth"
                    v-model="registration.dateOfBirth"
                    :date-format-options="{
                      year: 'numeric',
                      month: 'numeric',
                      day: 'numeric',
                    }"
                    locale="en"
                  ></b-form-datepicker>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtNameAlias"
                  label="Name Alias:"
                  label-for="txtNameAlias"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Name Alias:"
                >
                  <b-form-input
                    id="txtNameAlias"
                    type="text"
                    v-model="registration.nameAlias"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="12">
                <hr />
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtEmail"
                  label="Email:"
                  label-for="txtEmail"
                  label-cols
                  label-align="left"
                  description=""
                >
                  <b-input-group-prepend is-text class="w-200">
                    <b-icon icon="envelope"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    id="txtEmail"
                    v-model="registration.email"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtPhone"
                  label="Phone:"
                  label-for="txtPhone"
                  label-cols
                  label-align="left"
                  description=""
                >
                  <b-input-group-prepend is-text>
                    <b-icon icon="telephone"></b-icon>
                  </b-input-group-prepend>
                  <b-form-input
                    id="txtPhone"
                    v-model="registration.phone"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtPassword"
                  label="Password:"
                  label-for="txtPassword"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Password:"
                >
                  <b-form-input
                    id="txtPassword"
                    v-model="registration.password"
                    type="password"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtPasswordVerify"
                  label="PasswordVerify:"
                  label-for="txtPasswordVerify"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Password (verify):"
                >
                  <b-form-input
                    id="txtPasswordVerify"
                    v-bind:value="registration.passwordVerify"
                    type="password"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="12"></b-col>
              <b-col class="d-flex justify-content-end">
                <b-button type="submit" variant="primary" right
                  >Register</b-button
                >
              </b-col>
            </b-form-row>
          </b-form>
        </b-tab>
      </b-tabs>
    </b-card>
  </b-container>
</template>

<script>
import { mapActions } from "vuex";
import influencerRegistrationModel from "../models/influencerRegistrationModel.js";

export default {
  name: "influencerRegister",
  data() {
    return {
      registration: new influencerRegistrationModel(),
    };
  },
  computed: {},
  methods: {
    ...mapActions(["registerInfluencer"]),
    onSubmit(evt) {
      evt.preventDefault();
      this.registerInfluencer(this.registration);
    },
  },
};
</script>

<style scoped>
.formrow {
  margin-bottom: 10px;
}

.input-group > .input-group-prepend {
  /*flex: 0 0 10%;*/
  width: 150px;
}
.input-group .input-group-text {
  width: 100%;
}
</style>