<template>
  <b-container>
    <b-row>
      <b-col>
        <H4></H4>
      </b-col>
    </b-row>
    <b-card no-body>
      <b-tabs card>
        <b-tab title="Info" active>
          <b-form @submit="onSubmit">
            <b-form-row id="influencerHeader">
              <b-col cols="12"> </b-col>
            </b-form-row>
            <b-form-row>
              <b-col cols="6">
                <b-form-row class="formrow">
                  <b-col cols="12">
                    <b-input-group
                      id="txtFirstName"
                      label="First Name:"
                      label-for="txtFirstName"
                      label-cols
                      label-align="left"
                      description=""
                      prepend="First Name:"
                    >
                      <b-form-input
                        id="txtFirstName"
                        v-model="influencer.firstName"
                        type="text"
                      >
                      </b-form-input>
                    </b-input-group>
                  </b-col>
                </b-form-row>
                <b-form-row class="formrow">
                  <b-col cols="12">
                    <b-input-group
                      id="txtLastName"
                      label="Last Name:"
                      label-for="txtLastName"
                      label-cols
                      label-align="left"
                      description=""
                      prepend="Last Name:"
                    >
                      <b-form-input
                        id="txtLastName"
                        type="text"
                        v-model="influencer.lastName"
                      >
                      </b-form-input>
                    </b-input-group>
                  </b-col>
                </b-form-row>
                <b-form-row class="formrow">
                  <b-col cols="12">
                    <b-input-group
                      id="txtNameAlias"
                      label="Name Alias:"
                      label-for="txtNameAlias"
                      label-cols
                      label-align="left"
                      description=""
                      prepend="Name Alias:"
                    >
                      <b-form-input
                        id="txtNameAlias"
                        type="text"
                        v-model="influencer.nameAlias"
                      >
                      </b-form-input>
                    </b-input-group>
                  </b-col>
                </b-form-row>
                <b-form-row class="formrow">
                  <b-col cols="12">
                    <b-input-group
                      id="txtEmail"
                      label="Email:"
                      label-for="txtEmail"
                      label-cols
                      label-align="left"
                      description=""
                    >
                      <b-input-group-prepend is-text class="w-200">
                        <b-icon icon="envelope"></b-icon>
                      </b-input-group-prepend>
                      <b-form-input
                        id="txtEmail"
                        v-model="influencer.email"
                        type="text"
                      >
                      </b-form-input>
                    </b-input-group>
                  </b-col>
                </b-form-row>
                <b-form-row class="formrow">
                  <b-col cols="12">
                    <b-input-group
                      id="txtPhone"
                      label="Phone:"
                      label-for="txtPhone"
                      label-cols
                      label-align="left"
                      description=""
                    >
                      <b-input-group-prepend is-text>
                        <b-icon icon="telephone"></b-icon>
                      </b-input-group-prepend>
                      <b-form-input
                        id="txtPhone"
                        v-model="influencer.mobilePhone"
                        type="text"
                      >
                      </b-form-input>
                    </b-input-group>
                  </b-col>
                </b-form-row>
                <b-form-row class="formrow">
                  <b-col cols="12">
                    <b-input-group
                      id="txtDateOfBirth"
                      label="Date Of Birth:"
                      label-for="txtDateOfBirth"
                      label-cols
                      label-align="left"
                      description=""
                      prepend="Date Of Birth:"
                    >
                      <b-form-datepicker
                        id="txtDateOfBirth"
                        v-model="influencer.dateOfBirth"
                        :date-format-options="{
                          year: 'numeric',
                          month: 'numeric',
                          day: 'numeric',
                        }"
                        locale="en"
                      ></b-form-datepicker>
                    </b-input-group>
                  </b-col>
                </b-form-row>
                <b-form-row class="formrow">
                  <b-col cols="12">
                    <b-input-group
                      id="txtIsEnabledGroup"
                      label="Enabled:"
                      label-for="cbIsEnabled"
                      label-cols
                      label-align="left"
                      description=""
                      prepend="Is Enabled:"
                    >
                      <b-form-checkbox
                        id="cbIsEnabled"
                        v-model="influencer.isActive"
                        switch
                        size="lg"
                      >
                      </b-form-checkbox>
                    </b-input-group>
                  </b-col>
                </b-form-row>
              </b-col>
              <b-col cols="6">
                <b-card header="Avatar">
                  <b-row>
                    <b-col cols="12">
                      <b-form-row class="formrow">
                          <b-col cols="12">
                      <b-img
                        v-bind:src="avatarPreview"
                        rounded
                        alt="Selected Image"
                        height="200"
                        width="200"
                        thumbnail
                        @error="avatarSrcError"
                      ></b-img>
                          </b-col>
                      </b-form-row>
                      <b-form-row class="formrow">
                          <b-col cols="12">
                          <b-form-file
                            v-model="avatarFile"
                            :state="null"
                            placeholder="Choose a file or drop it here..."
                            drop-placeholder="Drop file here..."
                            accept=".jpg, .png, .gif"
                            @change="avatarFileChanged"
                          ></b-form-file>
                          </b-col>
                      </b-form-row>
                      <b-form-row class="formrow">
                          <b-col cols="9"></b-col>
                          <b-col cols="3">
                          <b-button @click="setAvatar" variant="primary" right size="sm"
                            >Upload Avatar</b-button
                          >
                          </b-col>
                      </b-form-row>
                    </b-col>
                  </b-row>
                </b-card>
              </b-col>
            </b-form-row>

            <b-form-row>
              <b-col cols="12">
                <hr />
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtLastAttemptedLogin"
                  label="Last Attempted Login:"
                  label-for="txtLastAttemptedLogin"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Last Attempted Login:"
                >
                  <b-form-input
                    readonly
                    id="txtLastAttemptedLogin"
                    v-bind:value="influencer.lastAttemptedLogin | formatDate"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtLastSuccessfulLogin"
                  label="Last Successful Login:"
                  label-for="txtLastSuccessfulLogin"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Last Successful Login:"
                >
                  <b-form-input
                    readonly
                    id="txtLastSuccessfulLogin"
                    type="text"
                    v-bind:value="influencer.lastSuccessfulLogin | formatDate"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>

            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtCreatedBy"
                  label="Created By:"
                  label-for="txtCreatedBy"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Created By:"
                >
                  <b-form-input
                    readonly
                    id="txtCreatedBy"
                    v-model="influencer.createdByName"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtCreatedDate"
                  label="Created Date:"
                  label-for="txtCreatedDate"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Created Date:"
                >
                  <b-form-input
                    readonly
                    id="txtCreatedDate"
                    type="text"
                    v-bind:value="influencer.createdDate | formatDate"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>
            <b-form-row class="formrow">
              <b-col cols="6">
                <b-input-group
                  id="txtModifiedBy"
                  label="Modified By:"
                  label-for="txtModifiedBy"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Modified By:"
                >
                  <b-form-input
                    readonly
                    id="txtModifiedBy"
                    v-model="influencer.modifiedByName"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
              <b-col cols="6">
                <b-input-group
                  id="txtModifiedDate"
                  label="Modified Date:"
                  label-for="txtModifiedDate"
                  label-cols
                  label-align="left"
                  description=""
                  prepend="Modified Date:"
                >
                  <b-form-input
                    readonly
                    id="txtModifiedDate"
                    v-bind:value="influencer.modifiedDate | formatDate"
                    type="text"
                  >
                  </b-form-input>
                </b-input-group>
              </b-col>
            </b-form-row>

            <b-form-row>
              <b-col cols="12"></b-col>
              <b-col class="d-flex justify-content-end">
                <b-button type="submit" variant="primary" right>Save</b-button>
              </b-col>
            </b-form-row>
          </b-form>
        </b-tab>
        <b-tab title="Campaigns"> 
                <influencer-campaign-list v-bind:influencerUniqID="id"></influencer-campaign-list>
        </b-tab>
      </b-tabs>
    </b-card>
  </b-container>
</template>

<script>
import { mapActions } from "vuex";
import InfluencerCampaignList from '../components/InfluencerCampaignList.vue';

export default {
  components: { InfluencerCampaignList },
  name: "influencer",
  props: {
    id: {
      required: true,
    },
  },
  data() {
    return {
      avatarFile: null,
      avatarPreview: "",
      avatarNotSelected: true,
      avatarError: false
    };
  },
  computed: {
    influencer() {
      return this.$store.getters.currentInfluencer;
    },
    avatarUrl() {
      return this.id != "new"
        ? `${this.$store.getters.appSettings_MediaRootUrl}/${this.influencer.uniqID}.avatar.Small.jpg?${new Date().getTime()}`
        : this.defaultLogoUrl;
    },
    defaultLogoUrl() {
      return this.$store.getters.appSettings_DefaultLogoUrl;
    },
  },
  methods: {
    ...mapActions(["saveInfluencer", "getInfluencer", "uploadAvatar"]),
    onSubmit(evt) {
      evt.preventDefault();
      this.saveInfluencer(this.influencer);
    },
    avatarFileChanged(event) {
      let reader = new FileReader();

      reader.addEventListener(
        "load",
        function () {
          this.avatarPreview = reader.result;
          this.avatarNotSelected = false;
        }.bind(this),
        false
      );

      if (event.target.files && event.target.files[0]) {
        if (/\.(jpe?g|png|gif)$/i.test(event.target.files[0].name)) {
          reader.readAsDataURL(event.target.files[0]);
        }
      } else {
        this.avatarNotSelected = true;
      }
    },
    setAvatar() {
      var imgPayload = {};
      imgPayload.uniqID = this.id;
      imgPayload.avatarFile = this.avatarFile;
      this.uploadAvatar(imgPayload);
    },
    avatarSrcError() {
      this.avatarPreview = this.defaultLogoUrl;
    },
  },
  created() {
    if (this.id != "new") {
      
      this.getInfluencer(this.id);
      this.avatarPreview = this.avatarUrl;
    }
  },
};
</script>

<style scoped>
.formrow {
  margin-bottom: 10px;
}

#txtLastAttemptedLogin > .input-group-prepend {
    width: 200px;
}

#txtLastSuccessfulLogin > .input-group-prepend {
    width: 200px;
}

.input-group > .input-group-prepend {
  width: 150px;
}
.input-group .input-group-text {
  width: 100%;
}

.custom-switch {
  margin-left: 20px !important;
}
</style>