<template>
  <b-container>
    <b-row align-v="center">
      <b-col cols="9">
        <b-form>
          <b-input-group class="mt-3">
            <b-form-input
              v-model="searchText"
              placeholder="search by Influencer Name, Email and/or Mobile Phone"
            ></b-form-input>
            <b-input-group-append>
              <b-button @click="search" variant="info">Search</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form>
      </b-col>
      <b-col cols="3">
        <b-button class="mt-3" @click="newInfluencer" right variant="info"
          >Register New Influencer</b-button
        >
      </b-col>
    </b-row>
    <b-row>
      <b-col><p></p></b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <b-table
          striped
          hover
          bordered
          small
          :items="searchResult"
          :fields="fields"
          @row-clicked="(item, index, event) => rowClick(item, index, event)"
        >
          <template #cell(uniqID)="data">
            <b-img
              rounded
              thumbnail
              v-bind="influencerImageProperties"
              :src="`${cdnBaseUrl}/${
                data.value
              }.avatar.Thumb.jpg?t=${new Date().getTime()}`"
              @error="setDefaultLogo"
            ></b-img>
          </template>

          <template #cell(isActive)="data">
            <b-form-checkbox
              v-bind:checked="data.value"
              name="check-button"
              switch
              disabled
            >
            </b-form-checkbox>
          </template>
        </b-table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import advertiserRegistrationModel from "../models/advertiserRegistrationModel";

export default {
  name: "influencers",
  data() {
    return {
      searchText: "",
      influencerImageProperties: { width: 35, height: 35 },
      fields: [
        {
          key: "fullName",
          label: "Influencer Name",
          sortable: true,
        },
        {
          key: "email",
          label: "Email",
          sortable: false,
        },
        {
          key: "age",
          label: "Age",
          sortable: false,
        },
        {
          key: "lastAttemptedLogin",
          label: "Last Attempted Login",
          sortable: false,
          formatter: "lastAttemptedLogin | formatDateTime",
        },
        {
          key: "isActive",
          label: "Active",
          sortable: false,
        },
      ],
    };
  },
  computed: {
    searchResult() {
      return this.$store.getters.influencerSearchResult;
    },
    cdnBaseUrl() {
      return this.$store.getters.appSettings_MediaRootUrl;
    },
    defaultAvatarUrl() {
      return this.$store.getters._DefaultInfluencerUrl;
    },

  },
  methods: {
    ...mapActions(["influencerSearch", "setCurrentInfluencer", "clearCurrentInfluencer", "clearInfluencerSearch"]),
    search() {
      this.influencerSearch(this.searchText);
    },
    newInfluencer() {
      this.clearCurrentInfluencer();
      this.$router.push({ path: "/influencer/new" });
    },
    rowClick(item, index, event) {
      this.clearCurrentInfluencer();
      this.setCurrentInfluencer(item);
      this.$router.push({ path: `/influencer/${item.uniqID}` });
    },
    setDefaultAvatar(e) {
      e.target.src = this.defaultAvatarUrl;
    },

  },
  created() {
     this.clearInfluencerSearch();
  }
};
</script>

<style scoped>
</style>