<template>
  <div class="md-6 lg-6">
    <b-container fill-height>
      <b-row align-v="center">
        <b-col></b-col>
        <b-col>
          <b-form @submit="onSubmit">
            <b-form-group
              id="fieldset-1"
              
              label="Email Address"
              label-for="input-1"
              :invalid-feedback="emailInvalidFeedback"
              :state="emailState"
            >
              <b-form-input
                id="input-1"
                type="email"
                
                v-model="email"
                :state="emailState"
                trim
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="fieldset-2"
              label="Password"
              label-for="input-2"
              :invalid-feedback="passwordInvalidFeedback"
              :state="passwordState"
            >
              <b-form-input
                id="input-2"
                type="password"
                v-model="password"
                :state="passwordState"
                trim
              ></b-form-input>
            </b-form-group>
            <b-button type="submit" variant="primary" right>Submit</b-button>
          </b-form>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex';

export default {
  name: "login",
  computed: {
    emailState() {
      return this.email.length > 0;
    },
    emailInvalidFeedback() {
      return "Please enter your email address.";
    },
    passwordState() {
      return this.password.length > 0;
    },
    passwordInvalidFeedback() {
      return "Please enter your password.";
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    }
  },
  methods: {
      ...mapActions(['login', 'getAppSettings']),
      onSubmit(evt) {
        evt.preventDefault()
        this.login({email:this.email, password:this.password });
      }
  },
  watch: {
    isAuthenticated (newVal, oldVal) {
      if (newVal === true) {
          this.getAppSettings();
          this.$router.push({ path: '/' })
      }
    }
  },
  data() {
    return {
      email: "",
      password: "",
    };
  },
  created() {
    //console.log(process.env.VUE_APP_API_BASE_URL);
  }
};
</script>

<style scoped>
</style>