<template>
    <div>
  <b-navbar toggleable="lg" type="dark" class="navbar">
    <b-navbar-brand href="#">VINCO Admin Portal</b-navbar-brand>
      <b-navbar-nav class="ml-auto">
        <b-nav-text style="margin-right:25px;">{{userMessage}}</b-nav-text>
        <router-link to="/">
          <b-icon icon="house-fill" font-scale="3" variant="warning"></b-icon>
        </router-link>
      </b-navbar-nav>
    
  </b-navbar>
</div>    
</template>

<script>
import { BIcon } from 'bootstrap-vue'
export default {
    name: "appheader",
    components: {
      BIcon
    },
    computed: {
      userMessage() {
        var userMsg = '';
        if (this.$store.getters.isAuthenticated) {
          userMsg = `Hello ${this.$store.getters.loggedInUser.firstName}`;
        }
        else {
          userMsg = '';
        }
        return userMsg;
      }
    }
}
</script>

<style scoped>
  .navbar {
      background-color: darkgreen;
  }
</style>