<template>
  <b-container>
    <b-row align-v="center">
      <b-col cols="10"> </b-col>
      <b-col cols="2">
        <b-button @click="newCampaign" right variant="info"
          >New Campaign</b-button
        >
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12"><p></p></b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <b-table
          striped
          hover
          bordered
          small
          :items="campaigns"
          :fields="fields"
          @row-clicked="(item, index, event) => rowClick(item, index, event)"
        >
          <template #cell(uniqID)="data">
            <b-img
              rounded
              thumbnail
              v-bind="campaignImageProperties"
              :src="`${cdnBaseUrl}/${data.value}.image.1.Thumb.jpg`"
              @error="setDefaultCampaignImage"
            ></b-img>
          </template>
          <template #cell(campaignName)="data">
            <span class="-align-left">{{ data.value }}</span>
          </template>
          <template #cell(startDate)="data">
            <span>{{ data.value | formatShortDate }}</span>
          </template>
          <template #cell(endDate)="data">
            <span>{{ data.value | formatShortDate }}</span>
          </template>
          <template #cell(isEnabled)="data">
            <b-form-checkbox
              v-bind:checked="data.value"
              name="check-button2"
              switch
              disabled
            >
            </b-form-checkbox>
          </template>
        </b-table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import campaignModel from "../models/campaignModel";

export default {
  name: "campaignList",
  props: {
    advertiserUniqID: String,
    advertiserName: String,
  },
  data() {
    return {
      campaignImageProperties: { width: 50, height: 50 },
      fields: [
        {
          key: "uniqID",
          label: "",
          sortable: false,
        },
        {
          key: "advertiserName",
          label: "Advertiser",
          sortable: true,
        },
        {
          key: "campaignName",
          label: "Campaign",
          sortable: true,
        },
        {
          key: "productName",
          label: "Product",
          sortable: true,
        },
        {
          key: "startDate",
          label: "Start Date",
          sortable: true,
        },
        {
          key: "endDate",
          label: "End Date",
          sortable: true,
        },
        {
          key: "isEnabled",
          label: "Enabled",
          sortable: false,
        },
      ],
    };
  },
  computed: {
    campaigns() {
      return this.$store.getters.currentAdvertiserCampaigns;
    },
    cdnBaseUrl() {
      return this.$store.getters.appSettings_MediaRootUrl;
    },
    defaultCampaignUrl() {
      return this.$store.getters.appSettings_DefaultCampaignUrl;
    },
  },
  methods: {
    ...mapActions(["getCampaigns", "setCurrentCampaign"]),

    newCampaign() {
      var campaign = new campaignModel();
      campaign.advertiserUniqID = this.$props.advertiserUniqID;
      campaign.advertiserName = this.$props.advertiserName;
      this.setCurrentCampaign(campaign);
      this.$router.push({
        path: `/advertiser/${this.$props.advertiserUniqID}/campaign/new`,
      });
    },
    rowClick(item, index, event) {
      this.setCurrentCampaign(item);
      this.$router.push({
        path: `/advertiser/${item.advertiserUniqID}/campaign/${item.uniqID}`,
      });
    },
    setDefaultCampaignImage(e) {
      e.target.src = this.defaultCampaignUrl;
    },
  },
  created() {
    if (this.advertiserUniqID != "new") {
      this.getCampaigns(this.advertiserUniqID);
    }
  },
};
</script>

<style scoped>
</style>