<template>
   <b-container>
      <b-row align-v="center">
        <b-col>
        </b-col>
      </b-row>
      <b-row>
         <b-col><p>     </p></b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table striped 
                   hover 
                   bordered 
                   small 
                   :items="campaignInfluencers" 
                   :fields="fields"
                   v-if="campaignInfluencers && campaignInfluencers.length > 0">
            <template #cell(fullName)="data">
                <span class="text-left">{{data.value}}</span>
            </template>
            <template #cell(age)="data">
                <span>{{data.value}}</span>
            </template>
            <template #cell(clickCount)="data">
                <span>{{data.value}}</span>
            </template>
            <template #cell(isEnabled)="data">
                <b-form-checkbox v-bind:checked="data.value" name="check-button" switch disabled>
                </b-form-checkbox>
            </template>
            <template #cell(actions)>
                <b-button size="sm" @click="campaignInfluencerClick(row.item, row.index, $event.target)" class="mr-1">
                        Edit Campaign Details for Influencer
                </b-button>
                <b-button size="sm" @click="influencerClick(row.item, row.index, $event.target)" class="mr-1">
                        Influencer Details
                </b-button>
            </template>
          </b-table>
          <b-card v-if="!campaignInfluencers || campaignInfluencers.length == 0">
              <H3>No Influencers associated with Campaign</H3>
          </b-card>
        </b-col>
        
      </b-row>
  </b-container>
    


</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import campaignInfluencerModel from '../models/campaignInfluencerLiteModel'; 

export default {
   name: "campaignInfluencerList",
   props: {
       campaignUniqID: String,
       campaignName: String,
       advertiserUniqID: String,
       advertiserName: String

   },
   data() {
      return {
        fields: [
           {
            key: 'fullName',
            label: 'Full Name',
            sortable: true,
            thStyle: { width: '30%' }
          },
           {
            key: 'age',
            label: 'Age',
            sortable: true
          },
           {
            key: 'clickCount',
            label: 'Click Count',
            sortable: true
          },
           {
            key: 'isEnabled',
            label: 'Enabled',
            sortable: true
          },
          {
            key: 'actions',
            label: 'Actions',
            sortable: false,
            thStyle: { width: '40%' }
          }

        ]
      }
   },
   computed: {
      campaignInfluencers() {
           return this.$store.getters.currentCampaignInfluencers;
      }     
   },
   methods: {
      ...mapActions(['getCampaignInfluencers', 'setCurrentCampaign']),
      campaignInfluencerClick(item, index, target) {
         this.$router.push({ path: `/advertiser/${item.advertiserUniqID}/campaign/${item.uniqID}` })

      },
      influencerClick(item, index, target) {
         this.$router.push({ path: `/advertiser/${item.advertiserUniqID}/campaign/${item.uniqID}` })

      }

   },
   created() {
     if (this.campaignUniqID != 'new') {
      this.getCampaignInfluencers(this.campaignUniqID);
     }
   }
}
</script>

<style scoped>
.fullName {
  width: 500px;
}
.actions {
  width: 250px;
}
</style>