<template>
  <b-container>
    <b-modal
      ref="edit-item"
      hide-footer
      title="Edit Influencer Campaign"
      size="lg"
    >
      <b-container>
        <b-row>
          <b-col cols="2">
            <label for="cbIsCampaignInfluencerEnabled">Is Enabled:</label>
          </b-col>
          <b-col cols="9">
            <b-form-checkbox
              id="cbIsCampaignInfluencerEnabled"
              v-model="selectedInfluencerCampaign.isEnabled"
              switch
              size="lg"
            >
            </b-form-checkbox>
          </b-col>
          <b-col></b-col>
        </b-row>
        <b-row>
          <b-col cols="2">
            <label for="txtCampaignInfluencerClickUrl">Click Url:</label>
          </b-col>
          <b-col cols="9">
            <b-form-input
              id="txtCampaignInfluencerClickUrl"
              type="text"
              :value="selectedCampaignClickUrl"
            >
            </b-form-input>
          </b-col>
          <b-col cols="1">
            <div class="h4 mb-2">
              <b-icon
                icon="files"
                @click="copyUrlToClipboard"
                title="Copy to Clipboard"
              ></b-icon>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6"></b-col>
          <b-col cols="3">
            <b-button class="mt-3" block @click="cancelInfluencerCampaign"
              >Cancel</b-button
            >
          </b-col>
          <b-col cols="3">
            <b-button
              class="mt-3"
              variant="primary"
              block
              @click="saveInfluencerCampaign"
              >Save</b-button
            >
          </b-col>
        </b-row>
      </b-container>
    </b-modal>

    <b-modal
      ref="add-item"
      hide-footer
      title="Add Influencer Campaign"
      size="lg"
    >
      <b-container>
        <b-row class="addCampaignHeaderRow"> 
          <b-col cols="12">
            <b-input-group class="mt-3">
              <b-form-input
                v-model="campaignSearchText"
                placeholder="search by Advertiser, Campaign, or Product Name"
              ></b-form-input>
              <b-input-group-append>
                <b-button @click="getCampaignSearch" variant="info"
                  >Search</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="12">
            <b-table
              striped
              hover
              bordered
              small
              :items="campaignSearchResult"
              :fields="searchResultFields"
              @row-clicked="
                (item, index, event) => rowClick(item, index, event)
              "
            >
              <template #cell(uniqID)="data">
                <b-img
                  rounded
                  thumbnail
                  v-bind="campaignImageProperties"
                  :src="`${cdnBaseUrl}/${data.value}.image.1.Thumb.jpg`"
                  @error="setDefaultCampaignImage"
                ></b-img>
              </template>
              <template #cell(startDate)="data">
                <span>{{ data.value | formatShortDate }}</span>
              </template>
              <template #cell(endDate)="data">
                <span>{{ data.value | formatShortDate }}</span>
              </template>
              <template #cell(addInfluencerCampaign)="row">
                <b-button
                  size="sm"
                  @click="
                    addInfluencerCampaignFromSearch(row.item, row.index, $event.target)
                  "
                  class="mr-1"
                >
                  Add
                </b-button>
              </template>
            </b-table>
          </b-col>
        </b-row>
      </b-container>
    </b-modal>

    <b-row align-v="center">
      <b-col cols="10"> </b-col>
      <b-col cols="2">
        <b-button @click="addCampaign" right variant="info"
          >Add Campaign</b-button
        >
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12"><p></p></b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <b-table
          striped
          hover
          bordered
          small
          :items="campaigns"
          :fields="fields"
          @row-clicked="(item, index, event) => rowClick(item, index, event)"
        >
          <template #cell(campaignUniqID)="data">
            <b-img
              rounded
              thumbnail
              v-bind="campaignImageProperties"
              :src="`${cdnBaseUrl}/${data.value}.image.1.Thumb.jpg`"
              @error="setDefaultCampaignImage"
            ></b-img>
          </template>
          <template #cell(advertiserName)="data" class="text-left">
            <b-link
              :to="{
                name: 'Advertiser',
                params: { id: data.item.advertiserUniqID },
              }"
              >{{ data.value }}</b-link
            >
          </template>
          <template #cell(campaignName)="data" class="text-left">
            <b-link
              :to="{
                name: 'Campaign',
                params: {
                  id: data.item.campaignUniqID,
                  advertiserid: data.item.advertiserUniqID,
                },
              }"
              >{{ data.value }}</b-link
            >
          </template>
          <template #cell(productName)="data">
            <span class="-align-left">{{ data.value }}</span>
          </template>
          <template #cell(startDate)="data">
            <span>{{ data.value | formatShortDate }}</span>
          </template>
          <template #cell(endDate)="data">
            <span>{{ data.value | formatShortDate }}</span>
          </template>
          <template #cell(isEnabled)="data">
            <b-form-checkbox
              v-bind:checked="data.value"
              name="check-button2"
              switch
              disabled
            >
            </b-form-checkbox>
          </template>
          <template #cell(editInfluencerCampaign)="row">
            <b-button
              size="sm"
              @click="
                editInfluencerCampaign(row.item, row.index, $event.target)
              "
              class="mr-1"
            >
              Edit
            </b-button>
          </template>
        </b-table>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import campaignInfluencerModel from "../models/campaignInfluencerModel";
import campaignSearchModel from "../models/campaignSearchModel";

export default {
  name: "campaignList",
  props: {
    influencerUniqID: String,
  },
  data() {
    return {
      campaignSearchText: "",
      selectedInfluencerCampaign: {},
      campaignImageProperties: { width: 45, height: 45 },
      fields: [
        {
          key: "campaignUniqID",
          label: "",
          sortable: false,
        },
        {
          key: "advertiserName",
          label: "Advertiser",
          sortable: true,
        },
        {
          key: "campaignName",
          label: "Campaign",
          sortable: true,
        },
        {
          key: "productName",
          label: "Product",
          sortable: true,
        },
        {
          key: "startDate",
          label: "Start Date",
          sortable: true,
        },
        {
          key: "endDate",
          label: "End Date",
          sortable: true,
        },
        {
          key: "isEnabled",
          label: "Enabled",
          sortable: false,
        },
        {
          key: "editInfluencerCampaign",
          label: "",
          sortable: false,
        },
      ],
      searchResultFields: [
        {
          key: "uniqID",
          label: "",
          sortable: false,
        },
        {
          key: "advertiserName",
          label: "Advertiser",
          sortable: true,
        },
        {
          key: "campaignName",
          label: "Campaign",
          sortable: true,
        },
        {
          key: "productName",
          label: "Product",
          sortable: true,
        },
        {
          key: "startDate",
          label: "Start Date",
          sortable: true,
        },
        {
          key: "endDate",
          label: "End Date",
          sortable: true,
        },
        {
          key: "addInfluencerCampaign",
          label: "",
          sortable: false,
        },
      ],
    };
  },
  computed: {
    campaigns() {
      return this.$store.getters.currentInfluencerCampaigns;
    },
    selectedCampaignClickUrl() {
      return `${this.$store.getters.appSettings_ApiBaseUrl}${this.selectedInfluencerCampaign.campaignInfluencerClickUrl}`;
    },
    cdnBaseUrl() {
      return this.$store.getters.appSettings_MediaRootUrl;
    },
    defaultCampaignUrl() {
      return this.$store.getters.appSettings_DefaultCampaignUrl;
    },
    campaignSearchResult() {
      return this.$store.getters.currentCampaignSearchResult;
    },
  },
  methods: {
    ...mapActions([
      "getInfluencerCampaigns",
      "updateInfluencerCampaign",
      "campaignSearch",
      "addInfluencerCampaign",
      "clearCampaignSearch"
    ]),

    addCampaign() {
      this.clearCampaignSearch();
      this.$refs["add-item"].show();
    },
    addInfluencerCampaignFromSearch(item, index, target) {
      var obj = {
        influencerUniqID: this.influencerUniqID,
        campaignUniqID: item.uniqID
      }
      this.addInfluencerCampaign(obj);
    },
    closeAddInfluencerCampaign() {
      this.$refs["add-item"].hide();
    },
    editInfluencerCampaign(item, index, event) {
      this.selectedInfluencerCampaign = Object.assign({}, item);
      this.$refs["edit-item"].show();
    },
    saveInfluencerCampaign() {
      this.updateInfluencerCampaign(this.selectedInfluencerCampaign);
      this.selectedInfluencerCampaign = {};
      this.$refs["edit-item"].hide();
    },
    cancelInfluencerCampaign() {
      this.selectedInfluencerCampaign = {};
      this.$refs["edit-item"].hide();
    },
    copyUrlToClipboard() {
      document.querySelector("#txtCampaignInfluencerClickUrl").select();
      document.execCommand("copy");
    },
    getCampaignSearch() {
      var m = new campaignSearchModel();
      m.keyword = this.campaignSearchText;
      this.campaignSearch(m);
    },
    setDefaultCampaignImage(e) {
      e.target.src = this.defaultCampaignUrl;
    },
  },
  created() {
    this.clearCampaignSearch();
    this.getInfluencerCampaigns(this.influencerUniqID);
  },
};
</script>

<style scoped>

.addCampaignHeaderRow {
  margin-bottom:20px;
}
</style>