<template>
<div id="wrapper">
    <b-alert variant="info" :show="getInfoSeconds" fade @dismissed="clearNotificationInfo">{{getInfoMessage}}</b-alert>
    <b-alert variant="warning" dismissible :show="showWarning" fade @dismissed="clearNotificationWarning">{{getWarningMessage}}</b-alert>
    <b-alert variant="success" dismissible :show="getSuccessSeconds" fade @dismissed="clearNotificationSuccess">{{getSuccessMessage}}</b-alert>
    <b-alert variant="danger" dismissible :show="showError" fade @dismissed="clearNotificationError"><div v-html=getErrorMessage></div></b-alert>
    <b-overlay  :show="showLoading" rounded="lg" variant="light" no-wrap><b-alert variant="light" :show="showLoading">  </b-alert></b-overlay>
</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
   name: 'notification',
   computed: {
       showWarning() {
           return this.$store.getters.notifyWarning;
       },
       getWarningMessage() {
           return this.$store.getters.messageWarning;
       },  
       showError() {
           return this.$store.getters.notifyError;
       },
       getErrorMessage() {
           return this.$store.getters.messageError;
       },  
       getInfoSeconds() {
           return this.$store.getters.notifyInfo ? 5 : 0;
       },
       getInfoMessage() {
           return this.$store.getters.messageInfo;
       },  
       getSuccessSeconds() {
           return this.$store.getters.notifySuccess ? 5 : 0;
       },
       getSuccessMessage() {
           return this.$store.getters.messageSuccess;
       },
       showLoading() {
           return this.$store.getters.notifyLoading;
       }
         
        
   },
   methods: {
       clearNotificationInfo() {
           this.clearNotification('info');
       },
       clearNotificationWarning() {
           this.clearNotification('warning');
       },
       clearNotificationSuccess() {
           this.clearNotification('success');
       },
       clearNotificationError() {
           this.clearNotification('error');
       },
       clearNotificationLoading() {
           this.clearNotification('loading');
       },

       clearNotification(notification) {
           this.$store.dispatch('clearNotification', { notificationType: notification });
       }
   }

}
</script>

<style scoped>
#wrapper {
    margin:10;
}
</style>