<template>
  <div id="app">
  <AppHeader></AppHeader>
  <b-container>
    <b-row id="notificationHeader">
      <b-col>
        <Notification />
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <router-view/>
      </b-col>
    </b-row>

  </b-container>
  </div>
</template>

<script>
import AppHeader from './components/AppHeader';
import Notification from './components/Notification';

  
export default {
  components: {
    AppHeader,
    Notification
  },
  computed: {
    authenticated() {
       return this.$store.getters.isAuthenticated;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#notificationHeader {
  min-height: 5em;
}
</style>
